<?xml version="1.0" encoding="utf-8"?>
<repositories>
  <repository path="..\src\AdoDbContext.MsSql\packages.config" />
  <repository path="..\src\Confirmit.NorthWind.Dal.LinqToSql.MsSql\packages.config" />
  <repository path="..\src\Confirmit.NortWind.Model\packages.config" />
  <repository path="..\src\EntityFrameworkDbContext.MsSql\packages.config" />
</repositories>